*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
.img-principal{
    background-image: url(../img/fondo2.0.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;
    opacity: 0.8;
}
.form-box{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: rgba(0, 255, 255, 0.569);
    width: 360px;
    height: 500px;
    border-radius: 15px;
}
.icono{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -80px;
    background-color: rgba(43, 54, 50, 0.734);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
}
.icono .user-i-box{
    margin: auto;
    font-size: 100px;
    color: white;
}
.user-i-style{
    color: aliceblue;
}
.fa-solid{
    padding: 6px;
}
input[type="text"]{
    border: 0;
    background-color: transparent;
    font-size: 1.5em;
    border-bottom: 2px solid white;
    margin-bottom: 30px;
   
}
input[type="text"]:focus{
    outline: none;
}
.uno{
    width: 330px;
    margin: auto;
    justify-content: center;
}
ul li a{
    font-size: 1.2em;
    color: black;
}
ul li a:hover{
    text-decoration:underline;
}
.boton{
    text-align: center;
}
.boton #btn{
    background-color: rgba(255, 0, 0, 0.556);
    color: whitesmoke;
    width: 200px;
    margin-top: 100px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}
::placeholder{
    color: rgba(0, 0, 0, 0.788);
}
@media screen and (max-width: 800px){
    .img-principal{
        background-image: url(../img/runas-en-el-espacio_1630x2880_xtrafondos.com.jpg);
    }
    .form{
        background-color: rgba(0, 255, 255, 0.569);
        width: 300px;
        height: 370px;
        border-radius: 10px;
} 
.icono{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -60px;
    background-color: rgba(43, 54, 50, 0.734);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
}
.icono .user-i-box{
    margin: auto;
    font-size: 70px;
    color: white;
}
input[type="text"]{
    border: 0;
    background-color: transparent;
    font-size: 1.2em;
    border-bottom: 2px solid white;
    margin-bottom: 30px;
}
ul li a{
    margin-top: 100px;
    padding: 10px;
    font-size: 1em;
    color: black;
}
.boton #btn{
    background-color: rgba(255, 0, 0, 0.556);
    color: whitesmoke;
    width: 120px;
    margin-top: 80px;
    float: left;
    margin-left: 90px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
}