*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
body{
    background-color: aliceblue;
}
.main-img-box{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2.5em;
    font-weight: 700;
}
h1{
    text-align: center;
}
.atras{
    position: fixed;
    height: 50px;
    width: 30px;
    color: black;
    margin: 20px;
/*     background-color: dodgerblue;
    color: white; */
    font-size: 2.5em;
    border-radius: 10px;
}
.atras:hover{
    color: black;/* 
    background-color: coral; */
}
.article-box{
    padding: 100px;
    margin-top: 100px;
    width: 85%;
    margin-top: 10px;
    display: grid; 
    gap: 15px;
    grid-template: "empty-izq   colores   fuentes    bordes " 500px
                   "empty-izq   sombras    catalogo  tablas " 500px 
                   "empty-izq   formulario   iconos   menus " 500px 
                   "empty-izq   css        replica     carrito " 500px / 
                    1fr         350px      350px      350px        1fr;
}
.colores{
    grid-area: colores;
}
.fuentes{
    grid-area: fuentes;
}
.bordes{
    grid-area: bordes;
}
.sombras{
    grid-area: sombras;
}
.catalogo{
    grid-area: catalogo;
}
.tablas{
    grid-area: tablas;
}
.formulario{
    grid-area: formulario;
}
.iconos{
    grid-area: iconos;
}
.menus{
    grid-area: menus;
}
.css{
    grid-area: css;
}
.replica{
    grid-area: replica;
}
.carrito{
    grid-area: carrito;
}
img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
a button{
    padding: 0 5px;
    width: 140px;
    outline: none;
    border: 0;
    height: 40px;
    font-weight: 500;
    align-items: center;
    background-color: dodgerblue;
    transition: width .5s;
    cursor: pointer;
    border-radius: 20px;
    color: white;
}
a button:hover{
    font-size: 1.2em;
    justify-content: space-between;
    display: flex;
    width: 160px;
}
.img-article{
    border: 1px solid black;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.text-article{
    margin-top: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
}
.text-content{
    color: black;
    font-size: 1.3em;
    line-height: 1.6em;
    text-align: justify;
}
